.marker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker-text {
  font-size: 10px;
}

.recharts-wrapper {
  margin: auto;
}

/* .chart {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
} */

.search-input {
  /* position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1; */
  width: 100vw;
  /* left: 50%;
  transform: translate(-50%, 0); */
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 100%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: -15px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}

.suggestions li {
  padding: 0.5rem;
}

.svg-map {
  display: block;
  width: 100%;
  height: 300px;
}

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/* .mb-3 {
  margin-bottom: 0 !important;
}

.modal-content {
  margin-top: 5rem;
}
.map > div:nth-of-type(1) {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
} */

.modal-dialog {
  margin-top: 52%;
}

@media (max-width: 375px) {
  .bar-chart {
    margin-top: -2rem;
  }
}

.numbers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: bold;
}

.red:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  z-index: 100;
  background: red;
}

.green:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  z-index: 100;
  background: green;
}
.orange:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  z-index: 100;
  background: orange;
}

.pie-chart {
  margin-top: -8rem;
}

.footer {
  position: fixed;
  top: 50%;
  right: -3rem;
  font-size: 0.75rem;
  text-indent: initial;
  color: #9e9e9e;
  transform: rotate(270deg);
  letter-spacing: 2px;
}

a:link,
a:visited {
  text-decoration: none;
}

a.active,
.active {
  color: #007bff;
  font-weight: 500;
  font-size: 1.15rem;
}
